body, header, section, main, footer {
    width: 100%;
}

nav.top-nav {
    background-color: darkorange;
    display: flex; /* Flexbox для навигации */
    justify-content: space-between; /* Равномерное распределение */
    align-items: center; /* Вертикальное выравнивание */
}

.top-nav a {
    color: white;
    font-weight: bold;
}

ul {
    margin: 0; /* убрать внешние отступы */
}

li.top-nav {
    display: inline-block;
    list-style: none;
}

a {
    text-decoration: none;
}

a.top-nav {
    display: block;
    padding: 24px 70px;
}

aside {
    position: absolute;
}

.banner {
    width: 100%;
}

section div img {
    width: 100%;
    height: auto;
}

.banner-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    text-transform: uppercase;
    font-size: 200%;
}

.centered {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

body {
    margin: 0px; /* Убираем отступы по умолчанию */
}

.image-container {
    display: flex; /* Flexbox для контейнера изображений */
    justify-content: space-around; /* Распределяем элементы по горизонтали */
    flex-wrap: wrap; /* Элементы переносятся на новую строку при нехватке места */
    gap: 10px; /* Пробел между элементами */
}

.image-item {
    text-align: center; /* Центрируем текст под изображением */
    margin: 5px; /* Отступы между элементами */
    width: 400px; /* Фиксированная ширина для контейнера, чтобы текст был под картинкой */
}

.image-item img {
    width: 100%; /* Картинка занимает 100% ширины родителя */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}

.image-item h5, .image-item p {
    margin: 5px 0; /* Убираем лишние отступы для аккуратного текста */
}

.center-image {
    margin: 100px auto; /* Автоматические отступы для центрирования */
    width: 1200px; /* Ширина для изображения */
}

.center-image img {
    width: 100%;
    height: auto;
}